[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[remote "origin"]
	url = https://github.com/Namli1/exchangeblog.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "TinyMCE"]
	remote = origin
	merge = refs/heads/TinyMCE
[branch "TinyMCE-editor"]
	remote = origin
	merge = refs/heads/TinyMCE-editor
