{% extends "base_generic.html" %}
{% load i18n %}


{% block title%}<title> {% trans "Blog Authors" %}</title> {% endblock %}
{% block content %}
<h1 class="text-center">{% trans "Author:" %} {{ blogauthor.name }}</h1>

<p>{{ blogauthor.bio }}</p>
{% if blogauthor.social_media_link %}
<a href="{{ blogauthor.social_media_link }}"><button class="btn btn-info my-2">{% trans "Check out my social media" %}</button></a>
{% endif %}

<hr>

<ul>
<h1 class="display-4">{% trans "My blog posts:" %}
    {% if user.is_authenticated and is_current_author %}
        <span class="badge">
                <a href="{% url 'post-create' %}"><button class="btn btn-warning my-2">{% trans "Add a new blog post" %}</button></a>
        </span>
    {% endif %}
</h1>

    {% include "exchangeblog/post_list_snippet.html" with list=blogauthor.blogpost_set.all|slice:":10" author_more=True %}
</ul>
{% endblock %}