{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block meta %} 
    <link rel="stylesheet" href="{% static 'css/bloglist-styles.css' %}">
{% endblock %}

{% block title %}<title>All Blog Posts</title>{% endblock%}

{% block blogposts-active %}active{% endblock %}

{% block content %}
<h1>All Blog Posts</h1>

{% if blogpost_list %}
<ul class="cube-list">
{% for post in blogpost_list %}
    <div class="cube-item">
        <li>{% blocktrans with title=post.title date=post.date_of_creation absolute_url=post.get_absolute_url %}<a href="{{ absolute_url }}"> {{ title }}</a> -({{ date }}) {% endblocktrans %}</li>
    </div>
        {% endfor %}
</ul>
{% else %}
<p>{% trans "There are no blog posts. Sorry!" %}</p>
{% endif %}
{% endblock %}
