{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}


{% block title %}<title>{% trans "All Blog Posts" %}</title>{% endblock%}

{% block blogposts-active %}active{% endblock %}

{% block content %}
<h1>{% trans "All Blog Posts" %}</h1>
<div class="text-right">
        <a class="btn btn-outline-dark mb-3 mr-md-3" data-toggle="collapse" href="#collapse-filter" role="button" aria-expanded='false' aria-controls="collapse-filter">
        {% trans "Filter" %}</a>
</div>

<div class="collapse" id="collapse-filter">
<form action="" method="get">
        <div class="card card-body mb-3">
                <div class="form-row justify-content-between">
                        <div class="mb-3 d-inline">
                                {{ blog_list_filtered.form.author.errors }}
                                {{ blog_list_filtered.form.author }}
                                <small id="authorfilter-help" class="form-text text-muted">
                                {% trans "Select author" %}</small>
                        </div>

                        <div class="mb-3 d-inline">
                                {{ blog_list_filtered.form.language.errors }}
                                {{ blog_list_filtered.form.language }}
                                <small id="languagefilter-help" class="form-text text-muted">
                                {% trans "Select language" %}</small>
                        </div>

                        <div class="col-md-2 mb-3">
                                {{ blog_list_filtered.form.country.errors }}
                                {{ blog_list_filtered.form.country }}
                                <small id="countryfilter-help" class="form-text text-muted">
                                {% trans "Select country" %}</small>
                        </div>

                        <div class="b-3">
                                {{ blog_list_filtered.form.date_of_creation.errors }}
                                {{ blog_list_filtered.form.date_of_creation }}
                                <small id="datefilter-help" class="form-text text-muted">
                                {% trans "Select a year" %}</small>
                        </div>
                </div>
                <button id="filter-submit" class="btn btn-primary d-block mt-4" type="submit">{% trans "Filter" %}</button>
        </div>
</form>
</div>

{% include "exchangeblog/post_list_snippet.html" with list=blog_list_filtered.qs pagination=True %}

{% endblock %}