{% load i18n %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/blogpost_styles.css' %}">
{% endblock %}

{% if list %}
{% if deck == True %}<div class="mb-5">
{% else %}<div class="card-columns mb-5">{% endif%}
    {% for post in list  %}
    
    <div id="post-card" class="card bg-light shadow mb-2">
        <img class="card-img-top" src="{{ post.thumbnail_picture.url }}">
        <div class="card-body">
            <strong class="d-inline-block mb-2 text-primary">{{ post.get_country_display }}</strong>
            <a href="{{ post.get_absolute_url }}" class="stretched-link"><h2 id="post-title" class="card-title text-left"> {{ post.title }}</h2></a>
            <p class="card-text text-right"><small class="text-muted">-{{ post.date_of_creation }}</small></p>
            <p>{{ post.short_description }} </p>
            <p>{% trans "Author:" %} <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
            <div class="card-footer">
                <small class="text-muted text-left">{% trans "Language:" %} {{ post.get_language_display }}</small>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if teaser == True %}
    {% if list.count > 1 %}
    <div id="post-card" class="card bg-light mb-5 mt-3">
            <div class="card-body">
                <a href="{% url 'post-list'%}" class="text-decoration-none text-secondary"><h2 class="text-monospace">{% trans "See more" %} -></h2></a>
            </div>
        </div>
    {% endif %}
    {% endif %}

</div>

    {% if pagination == True %}
    <nav aria-label="Blog list navigation">
<ul class="pagination mb-5">
    {% if page_obj.has_previous %}
    <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
    </li>
    {% else %}
    <li class="page-item disabled">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
    </li>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
    {% if forloop.counter < 7 %}
    {% if page_number == page_obj.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}<span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% else %}
<p>{% trans "Sorry, there are no blog posts yet." %}</p>
{% endif %}