.blogpost-list {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
}

#post-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 42, 42);
}

#image-container {
    width: 100%;
    text-align: center;
}