<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
  {% block title %}<title>Explore-Exchange</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'home' %}">Explore-Exchange</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAllContent" aria-controls="navbarAllContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                <div class="collapse navbar-collapse" id="navbarAllContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block home-active %}{% endblock%}">
                      <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% block blogposts-active %}{% endblock%}">
                      <a class="nav-link" href="{% url 'post-list' %}">Blog Posts</a>
                    </li>
                    <li class="nav-item {% block blogauthors-active %}{% endblock%}"> 
                        <a class="nav-link" href="{% url 'author-list' %}">Blog Authors</a>
                    </li>
                  </ul>
                  <form class="form-inline mr-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <ul class="navbar-nav navbar-">
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Languages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">English</a>
                          <a class="dropdown-item" href="#">Deutsch</a>
                        </div>
                      </li>
                </ul>
                </div>
        
              </nav>
  
<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>