<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
  {% block title %}<title>Explore-Exchange</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,200|Raleway|Roboto:500&display=swap" rel="stylesheet">
    <link rel=stylesheet href="{% static 'css/styles.css'%}">
    {% block meta %}{% endblock %}
</head>
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
    <div class="container">
        <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse order-3 order-md-2 float-left" id="navbar-left">
            <ul class="navbar-nav mr-auto">
              
              <li class="nav-item">
                <a class="nav-link {% block home-active %}{% endblock %}" href="{% url 'home' %}">{% trans "Home" %}</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% block blogposts-active %}{% endblock %}" href="{% url 'post-list' %}?language={% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE|upper }}">{% trans "Posts" %}</a>
              </li>
          </div>

              <a class="navbar-brand order-1 order-md-3 text-center" id="logo-header" href="{% url 'home' %}">Explore-Exchange</a>

              <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
                <ul class="navbar-nav ml-auto">
                  
                  <li class="nav-item">
                    <a class="nav-link {% block about-active %}{% endblock %}" href="{% url 'about' %}">{% trans "About" %}</a>
                  </li>

                  

                  <li class="nav-item dropdown">
                      <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                          <input name="next" type="hidden" value="{{ request.path }}">
                          
                              {% get_current_language as LANGUAGE_CODE %}
                              {% get_available_languages as LANGUAGES %}
                              {% get_language_info_list for LANGUAGES as languages %}
                              <div class="btn-group">
                                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {% trans "Languages" %}
                                    </button>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    {% for language in languages %}
                                        <button type="submit" name="language" value="{{ language.code }}" class="dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}">
                                            {{ language.name_local }}
                                        </button>
                                    {% endfor %}
                                  </div>
                              </div>
                      </form>
                  </li>

    </div>
  </nav>
<hr />
</header>
  
<div id="main" class="container">
{% block content %}
{% endblock %}
</div>

<footer class="footer" style="bottom: 0%;">
  <div id="bottom-footer" class="container-fluid bg-dark">
    <div class="row d-flex">
      <div class="col-lg-8">
      <ul class="nav text-lg-left text-sm-center">

        {% if user.is_authenticated %}
        <li class="nav-item pt-3 pb-1"><button type="button" class="btn btn-success">{% trans "Current user:" %} {{ user.get_username }}</button></li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link text-white pt-4 pb-1" href="{% url 'about' %}">{% trans "About us" %}</a>
        </li>

        {% comment %}
        <li class="nav-item pt-4 pb-1">
          <a class="nav-link d-inline text-white" target="_blank" href="https://www.instagram.com/explore-exchange">{% trans "Follow us on" %}<img src="{% static 'instagram-logo.png' %}" alt="Instagram Site Button" width="15%"></a>
        </li>
       {% endcomment %} 

      </ul>
    </div>
      <div class="col-lg-4">
          <p id="copyright" class="text-white pt-4 pb-1"> 
            &copy; <script>document.write(new Date().getFullYear())</script>, Explore-Exchange.com</p>
      </div>
      </div>
  </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block body-meta %}{% endblock %}
</body>
</html>