{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block title %}<title>{% trans "Explore-Exchange | The Home of Exchange Students" %}</title> {% endblock%}

{% block home-active %}active{% endblock %}

{% block meta %}
<meta name="description" property="og:description" content="Welcome to Explore-Exchange, the hub where exchange students can share their experiences and help others on their journey!">
<meta name="keywords" content="exchangeyear, exchange, auslandsjahr, austauschjahr, exchangestudent, exchangestudents, studyabroad, internationalstudents, foreignstudents, hoststudents, hostfamily, foreignexperience">
{% endblock %}


{% block content %}

<style>
.toBeSlidden {
    visibility: hidden;
}

.slide-in-left {
    animation-duration: 1.5s;
    animation-name: slideinLeft;
    animation-direction: alternate;
}
.slide-in-right {
    animation-duration: 1.5s;
    animation-name: slideinRight;
    animation-direction: alternate;
}

@keyframes slideinLeft {
    0% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideinRight {
    0% {
        transform: translateX(900px);
    }
    100% {
        transform: translateX(0);
    }
}

.bigger-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}

.bigger-headline {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

</style>

{% if request.user.is_superuser %}
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card shadow-lg m-3">
        <div class="card-body">
            <h5 class="card-text">Registration codes</h5>
        </div>
        <div class="btn-group btn-group-lg m-1" role="group">
            <a class="btn btn-primary" href="{% url 'code-list' %}">List</a>
            <a class="btn btn-secondary" href="{% url 'code-create' %}">Create</a>
        </div>
    </div>

    <div class="card shadow-lg m-3">
        <div class="card-body">
            <h5 class="card-text">Admin Site</h5>
        </div>
        <div class="btn-group btn-group-lg m-1" role="group">
            <a href="{% url 'admin:index' %}" class="btn btn-info text-decoration-none">Admin</a>
        </div>
    </div>
</div>
{% endif %}

{% if needs_author_registration and not request.user.is_superuser %}
<div class="d-flex justify-content-between alert alert-danger alert-dismissible fade show" role="alert">
  <p class="m-1"> <strong>{% trans "Hi there! " %}</strong> {%trans "It seems that you just signed up. Go ahead and set up your author profile by clicking the button." %}</small></p>
  <a class="text-white text-decoration-none" href="{% url 'author-create' %}"><button type="button" class="btn btn-success m-1">{% trans "Create Profile" %}</button></a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="row justify-content-center my-3">
    {% if username %}
        <h1 class="text-center display-4 col-md-6 animated pulse delay-1s"><strong>{% trans "Welcome back, " %} {{ username }}!</strong></h1>
    {% else %}
        <h1 class="text-center display-4 col-md-8 animated pulse delay-1s"><strong>{% trans "Welcome to Explore Exchange, the home of exchange students!" %}</strong></h1>
    {% endif %}
</div>

{% if author_name %}
<div class="text-center">
    <a href="{% url 'author-detail' author_name %}"><button class="btn btn-success btn-lg">{% trans "Go to my author page" %}</button></a>
</div>
{% endif %}

<div class="panel">


<div class="row toBeSlidden right">
    <div class="col-md-6">
        <div class="text-center">
            <img width=300 loading="lazy" src="{% static 'images/Signpost.jpg'%}" alt="A signpost leading the way">
        </div>
    </div>

    <div class="col-md-6 align-self-center">
        <h2 class="align-middle bigger-header">{% trans "Exchange Guide" %}</h2>
        <p class="small">{% trans "See how you can start your exchange year journey by looking at our guide." %}</p>
        <a href="{% url 'guide-list' %}" role="button" class="btn btn-info shadow-lg">{% trans "Start your journey" %}</a>
    </div>
</div>

<div class="row mb-5 mx-md-5 toBeSlidden left">
    <div class="col-md-7 order-md-12">
        <div class="text-center">
            <img width=300 loading="lazy" src="{% static 'images/blogPen.jpg' %}" alt="Filler pen writing a blog">
        </div>
    </div>

    <div class="col-md-5 align-self-center oder-md-1">
        <h2 class="align-middle bigger-header">{% trans "Blog" %}</h2>
        <p class="small">{% trans "Explore how exchange students around the world are spending their time and what experiences they make." %}</p>
        <a href="{% url 'post-list' %}" role="button" class="btn btn-info shadow-lg">{% trans "Explore" %}</a>
    </div>
</div>

<div class="row mx-md-5 toBeSlidden right">
    <div class="col-md-6">
        <div class="text-center">
            <img width=200 loading="lazy" src="{% static 'images/FlagHeart.jpg' %}" alt="A heart made out of the flags of many countries">
        </div>
    </div>

    <div class="col-md-6 align-self-center">
        <h2 class="align-middle bigger-header">{% trans "Country Guides" %}</h2>
        <p class="small">{% trans "See how you can start your exchange year journey by looking at our guide." %}</p>
        <a href="{% url 'countryguide-list' %}" role="button" class="btn btn-info shadow-lg">{% trans "See the countries" %}</a>
    </div>
</div>
</div>

</div>

<div class="panel">

<h2 class="display-4 mt-5 p-3 bigger-headline">{% trans "Start your exchange journey here:"%}</h2>
<div class="container col-md-11 float-left">
    {% include "guide_post_snippet.html" with list=guide_teaser teaser=True %}
</div>


<h2 class="display-4 p-3 bigger-headline">{% trans "Look at the most recent blog posts:" %}</h2>
    <div class="container col-md-11 float-left">
        {% include "exchangeblog/post_list_snippet.html" with list=latest_posts teaser=True %}
    </div>

</div>
{% endblock %}

{% block body-meta %}
<script type="text/javascript">
(function($) {

  /**
   * Copyright 2012, Digital Fusion
   * Licensed under the MIT license.
   * http://teamdf.com/jquery-plugins/license/
   *
   * @author Sam Sehnert
   * @desc A small plugin that checks whether elements are within
   *     the user visible viewport of a web browser.
   *     only accounts for vertical position, not horizontal.
   */

  $.fn.visible = function(partial) {
    
      var $t            = $(this),
          $w            = $(window),
          viewTop       = $w.scrollTop(),
          viewBottom    = viewTop + $w.height(),
          _top          = $t.offset().top,
          _bottom       = _top + $t.height(),
          compareTop    = partial === true ? _bottom : _top,
          compareBottom = partial === true ? _top : _bottom;
    
    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

  };
    
})(jQuery);

$(document).ready(function() {
    $(function() {

  var allSliders = $(".toBeSlidden");

  allSliders.each(function(i, el) {
  var el = $(el);
  if (el.visible(true)) {
    if (el.hasClass("right")) {
        el.addClass("slide-in-right");
        el.removeClass("toBeSlidden");
    } else if (el.hasClass("left")) {
        el.addClass("slide-in-left");
        el.removeClass("toBeSlidden");
    } 
  }; 
});

  $(window).scroll(function(event) {
  
  allSliders.each(function(i, el) {
    var el = $(el);
    if (el.visible(true)) {
        setTimeout(() => {
            if (el.hasClass("right")) {
                el.addClass("slide-in-right");
                el.removeClass("toBeSlidden");
            } else if (el.hasClass("left")) {
                el.addClass("slide-in-left");
                el.removeClass("toBeSlidden");
            };
        }, 300);
  };
  
        });
    })
});

});
</script>

{% endblock %}