{% extends 'base_generic.html'%}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans "Password reset" %}</title>{% endblock %}

{% block content %}
<h2>{% trans "Forgot your password?" %}</h2>
<p class="my-3">{% trans "Enter the email address associated with your account below and we'll email instructions for setting a new password." %}<p>
<form method="post" id="password-reset-form">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" 
          id="password-reset-submit"
          type="submit"
          data-sitekey="reCAPTCHA_site_key" 
          data-callback='onSubmit' 
          data-action='submit'>{% trans "Send instructions" %}</button>
</form>
{% endblock %}

{% block body-meta %}
<script src="https://www.recaptcha.net/recaptcha/api.js?render={{ recaptcha_key }}"></script>
<script>
grecaptcha.ready(function() {
    $('#password-reset-form').submit(function(e) {
        var form = this;
        e.preventDefault();
        grecaptcha.execute('{{ recaptcha_key }}', {action: 'submit'}).then(function(token) {
          $('input#id_recaptcha').val(token);
          console.log(token);
          form.submit();
      });
    })
  });
</script>
{% endblock %}