{% extends 'base_generic.html'%}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans "Password reset done" %}</title>{% endblock %}

{% block content %}
<h2>{% trans "Password reset sent" %}</h2>
<p class="my-3">{% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}<p>
<p class="my-3">{% trans "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}<p>
{% endblock %}