.authorlist-ul {
    list-style-type: none;
    margin: 0 auto;
    margin-left: 0;
    width: 100%;
    padding: 0;
}

.list-item-container {
    display: flex;
    background-color: rgb(223, 223, 223);
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 13vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#authorname {
    color: #363537;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    float: left;
    font-size: 12vw;
    margin-bottom: 0px;
}

#author-link:hover .list-item-container{
    background-color: rgb(172, 172, 172);
}